@use 'custom';

html,body {
    min-height: 100%;
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

#content {
  min-height: 38rem;
}

.icon {
  background-image: url(../img/icon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: .4rem;
  width: 2rem;
  height: 2rem;
}

.opacity {
  opacity: 0.95;
}
